.sidebar {
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 60px;
    height: calc(100vh - 58px);
    padding: 5px 0 10px 0;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
    }
    user-select: none;
    border-top: 5px solid #323232;
    border-bottom: 5px solid #323232;

    button {
        flex-shrink: 0;
        appearance: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #555;
        color: #fff;
        width: 40px;
        height: 40px;
        border: none;
        margin: 7px 0;
        color: #fffc;
        font-size: 30px;

        &:hover {
            background-color: #777;
            color: #fffe;
            cursor: pointer;
        }

        &:active {
            background-color: #888;
            color: #fff;
        }
    }

}